/* Reset some basic elements */
body, h1, h2, h3, p, ul, li, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and global styles */
body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

/* Dark Mode */
.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

/* Hamburger Menu Styles */
.menu-btn__burger {
    width: 30px; /* Width of the hamburger lines */
    height: 3px; /* Height of the hamburger lines */
    background-color: #333; /* Color of the hamburger lines */
    margin: 6px 0; /* Space between the lines */
    transition: all 0.3s ease; /* Smooth transition for animation */
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav {
    display: none;
    position: absolute;
    top: 50px; /* Adjusted to not overlap with the hamburger icon */
    left: 0;
    width: 100%;
    background: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

.nav.active {
    display: block;
}

/* Navigation Links */
.nav ul {
    list-style: none;
    text-align: center; /* Center align the navigation links */
}

.nav ul li {
    padding: 10px 0;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
}

button {
    all: unset;
    cursor: pointer;
}

/* Main Content and Introduction */
main {
    padding: 20px;
    text-align: center; /* Center the introduction text */
}

.intro-title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}

/* Responsive Design */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #f4f4f4;
    }
}